<template>
  <h1>Friendica storage</h1>
  <div>
    <Line :data="data" :options="options" />
  </div>
  <StatisticsTable :data="data" />
</template>

<script>
import {
  Chart as ChartJS,
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend
} from 'chart.js'
/* eslint vue/no-reserved-component-names: 'off' */
import { Line } from 'vue-chartjs'
import * as chartConfig from './chartConfig.js'
import StatisticsTable from './StatisticsTable.vue'

ChartJS.register(CategoryScale, LinearScale, PointElement, LineElement, Title, Tooltip, Legend)

export default {
  name: 'App',
  components: {
    Line,
    StatisticsTable
  },
  data() {
    return chartConfig
  }
}
</script>

<style scoped>
h1 {
  text-align: center;
}
canvas {
  height: 650px;
  padding-left: 50px;
  padding-right: 50px;
}
</style>
