<template>
  <table>
    <thead>
      <tr>
        <th />
        <th>Min</th>
        <th>Max</th>
        <th>Act</th>
        <th v-if="showSlope">Slope</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>{{ getLabel(0) }}</th>
        <td>{{ getMin(0) }}</td>
        <td>{{ getMax(0) }}</td>
        <td>{{ getAct(0) }}</td>
        <td v-if="showSlope">{{ slope[0].toFixed(1) }}</td>
        <td v-if="showSlope">MB/day</td>
      </tr>
    </tbody>
  </table>
</template>

<script>
'use strict'

export default {
  name: 'StatisticsTable',
  props: {
    // const chartdata = {
    //     labels: [],
    //     datasets: [
    //         {
    //             label: 'Database',
    //             backgroundColor: '#f87979',
    //             data: []
    //         },
    //         {
    //             label: 'Storage',
    //             backgroundColor: '#0000ff',
    //             data: []
    //         }
    //     ]
    // }
    data: {
      type: Object,
      required: true
    }
  },
  data: function () {
    return {
      showSlope: true,
      act: [0, 0],
      slope: [0, 0]
    }
  },
  mounted: function () {
    this.data.datasets.forEach((dataset, i) => {
      this.slope[i] = this.calcSlope(this.data.labels, dataset.data)
    })
  },
  methods: {
    getLabel(i) {
      return this.data.datasets[i].label
    },
    getMin(i) {
      return Math.min(...this.data.datasets[i].data)
    },
    getMax(i) {
      return Math.max(...this.data.datasets[i].data)
    },
    getAct(i) {
      return (this.act[i] = this.data.datasets[i].data[this.data.datasets[i].data.length - 1])
    },
    avg(arr) {
      let val = 0
      arr.forEach((item) => {
        val += Number(item)
      })
      val /= arr.length
      return val
    },
    calcSlope(dsx, dsy) {
      // Als Formel: β = ∑ [(xi - ∅x) × (yi - ∅y)] / ∑(xi - ∅x)2

      let ax = this.avg(dsx)
      let ay = this.avg(dsy)
      let dividend = 0
      let divisor = 0

      dsx.forEach((x, i) => {
        dividend += (x - ax) * (dsy[i] - ay)
        divisor += (x - ax) ** 2
      })

      return dividend / divisor
    }
  }
}
</script>

<style scoped>
table {
  margin-left: auto;
  margin-right: auto;
}
th,
td {
  text-align: right;
}
</style>
